@import url(https://fonts.googleapis.com/css?family=Shrikhand:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  display: flex;
  justify-content: flex-start;
  gap: 80px;
  padding: 20px;
}
.nav i {
  color: black;
}
.nav img {
  width: 180px;
}

.menu-img {
  position: relative;
}
.menu-img img {
  max-width: 100%;
  height: auto;
  z-index: 1;
}

.menu-wrapper {
  font-family: "Roboto";
  position: relative;
}

.menu-container {
  width: 100%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 40px;
  z-index: 2;
}
.menu-container .menu-container-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.menu-container .menu-container-head h2 {
  font-family: "shrikhand";
  max-width: 253px;
  font-size: 32px;
}
.menu-container .menu-container-head i {
  font-size: 25px;
}

.menu-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-cards h4 {
  position: relative;
  font-weight: 400;
  padding-bottom: 5px;
}
.menu-cards h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 13%;
  border-bottom: 2px solid rgb(62, 241, 182);
}
.menu-cards .menu-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 15px;
}
.menu-cards .menu-card-container .menu-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  border-radius: 20px;
  background-color: #fff;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
.menu-cards .menu-card-container .menu-card ul {
  padding: 0;
  color: black;
}
.menu-cards .menu-card-container .menu-card ul .head {
  font-weight: 800;
}
.menu-cards .menu-card-container .menu-card ul li {
  list-style: none;
  font-weight: 400;
}
.menu-cards .menu-card-container .menu-card span {
  color: black;
  font-weight: 600;
}

.order-button {
  border-radius: 50px;
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  color: #fff;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: #fff;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.order-button span {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  font-family: "Roboto";
  background-color: #383838;
  color: #fff;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.footer span {
  padding-left: 10px;
  font-weight: 600;
}
.footer .footer-head {
  margin-bottom: 15px;
  font-family: "Shrikhand";
  font-size: 30px;
}
.footer ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer ul li {
  list-style: none;
}/*# sourceMappingURL=menustyle.css.map */