@import url(https://fonts.googleapis.com/css?family=Shrikhand:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@mixin FlexDisp($flexdirect) {
  display: flex;
  flex-direction: $flexdirect;
  justify-content: space-between;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
// HEADER
.nav {
  display: flex;
  justify-content: flex-start;
  gap: 80px;
  padding: 20px;

  i {
    color: black;
  }

  img {
    width: 180px;
  }
}
// BACKGROUNG IMAGE
.menu-img {
  position: relative;
  overflow: hidden;
  height: 300px;
  img {
    max-width: 100%;
    height: auto;
    display: block;
    z-index: 1;
  }
}
// MENU CARDS
.menu-wrapper {
  font-family: "Roboto";
  position: relative;
}

.menu-container {
  width: 100%;
  position: relative;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: -135px;
  border-radius: 40px 40px 0 0;
  z-index: 2;

  .menu-container-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .heart-button {
      margin-right: 20px;
      position: relative;
      width: 24px;
      height: 24px;
      border: 0;
      i {
        opacity: 1;
      }
      .solid-heart {
        i {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;

          transition: opacity 0.3s ease-in;

          &:hover {
            opacity: 1;
            color: rgb(141, 75, 141);
          }
        }
      }
    }
    h2 {
      font-family: "shrikhand";
      max-width: 253px;
      font-size: 32px;
    }
  }
}

.menu-cards {
  @include FlexDisp(column);

  h4 {
    position: relative;
    font-weight: 400;
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 0.767);

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 13%;
      border-bottom: 2px solid rgb(62, 241, 182);
    }
  }

  .menu-card-container {
    @include FlexDisp(column);
    margin-bottom: 20px;
    gap: 15px;

    .menu-card {
      @include FlexDisp(row);
      position: relative;
      align-items: last baseline;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      background-color: #fff;
      text-decoration: none;
      padding-left: 10px;
      min-width: auto;
      min-height: auto;
      .checkmark {
        background-color: rgba(99, 197, 99, 0.959);
        height: 100%;
        display: flex;
        overflow: hidden;
        align-items: center;
        width: 0;
        border-radius: 0 20px 20px 0;
        transition: width 0.3s ease;

        i {
          color: rgb(255, 255, 255);
        }
      }
      &:hover .checkmark {
        width: 50px;
        h4,
        li {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      ul {
        padding: 0;
        color: black;

        .head {
          font-weight: 600;
          font-size: 18px;
          color: black;
          margin: 0;
          padding: 0;
        }

        li {
          list-style: none;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.76);
        }
      }

      span {
        color: black;
        font-weight: 600;
        font-size: 17px;
        margin-top: 10px;
      }
    }
  }
}
// ORDER BUTTON
@import "./variables";
.order-button {
  @include button();
  display: block;
  margin: 30px auto;
  text-align: center;
  span {
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 600;
  }
}
// FOOTER
.footer {
  font-family: "Roboto";
  background-color: #383838;
  color: #fff;
  padding: 30px;
  span {
    padding-left: 10px;
    font-weight: 600;
  }

  .footer-head {
    margin-bottom: 15px;
    font-family: "Shrikhand";
    font-size: 25px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 0px;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
.menu-cards {
  opacity: 0;
  transform: translateY(20px);
  animation: appear 0.7s ease-out forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-card {
  opacity: 0;
  transform: translateY(20px);
  animation: appear 1s ease-out forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu-card:nth-child(1) {
  animation-delay: 0.2s;
}

.menu-card:nth-child(2) {
  animation-delay: 0.7s;
}

.menu-card:nth-child(3) {
  animation-delay: 1s;
}
.menu-card:nth-child(4) {
  animation-delay: 1.3s;
}
@media only screen and (min-width: 992px) {
  // MENU CARDS
  .menu-wrapper {
    font-family: "Roboto";
    position: relative;
  }

  .menu-container {
    width: 100%;
    position: relative;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: -45px;
    border-radius: 40px 40px 0 0;
    z-index: 2;

    .menu-container-head {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      h2 {
        font-family: "shrikhand";
        max-width: 453px;
        font-size: 32px;
      }
      i {
        font-size: 25px;
      }
    }
  }

  .menu-cards {
    @include FlexDisp(column);
    align-items: center;

    h4 {
      position: relative;
      font-weight: 800;
      padding-bottom: 5px;
      color: rgba(0, 0, 0, 0.767);

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 2px solid rgb(62, 241, 182);
      }
    }

    .menu-card-container {
      @include FlexDisp(row);
      margin-bottom: 20px;
      gap: 15px;

      .menu-card {
        @include FlexDisp(row);
        align-items: center;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        background-color: #ffffffbe;
        text-decoration: none;
        padding-left: 10px;
        min-width: 270px;
        min-height: 150px;
        .checkmark {
          background-color: rgba(99, 197, 99, 0.959);
          height: 200px;
          overflow: hidden;
          align-items: center;
          width: 0;
          border-radius: 0 20px 20px 0;
          transition: width 0.3s ease;

          i {
            color: rgb(255, 255, 255);
          }
        }
        &:hover .checkmark {
          width: 50px;
          h4,
          li {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          i {
            color: rgb(255, 255, 255);

            animation: spin 1s linear;

            @keyframes spin {
              100% {
                transform: rotate(360deg);
              }
            }
          }
        }

        ul {
          padding: 0;
          color: black;
          max-width: 180px;

          .head {
            font-weight: 600;
            font-size: 18px;
            color: black;
            margin-bottom: 15px;
          }

          li {
            list-style: none;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.76);
          }
        }

        span {
          color: black;
          font-weight: 600;
          font-size: 17px;
        }
      }
    }
  }
}
